PyMuPDF
scikit-learn
fpdf
streamlit-multipage
streamlit
pytesseract
reportlab
statsmodels
numpy
pandas
matplotlib 
tesseract
textblob>=0.17.1
pyspellchecker
pdf2image
language_tool_python
nltk
spacy
poppler
textstat
