PyMuPDF
scikit-learn
fpdf
pytesseract
streamlit-multipage
reportlab
statsmodels
numpy
pandas
matplotlib 
tesseract
textblob>=0.17.1
pyspellchecker
language_tool_python
nltk>=3.8.1
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
